body{
  background-color: black;
  text-align: center;
}
h1{
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
.link{
  color: Aquamarine;
  font-size: 16px;
}
.mot{
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
#p{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}
#foot{
  text-align: right;
  color: Gray;
  font-size: 16px;
}
